@import "../Vars.scss";

.image-gallery-thumbnail,
.image-gallery-thumbnail-image {
  border-radius: 10px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 20px;
}

@media (max-width: 768px) {
  .projectPage {
    &__goBack {
      left: 7%;
    }
    &__hero {
      &--buttons {
        margin: 10px 0;
        position: initial;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        button {
          margin: 7px 0;
        }
      }
    }
  }
}
