@import '../Vars.scss';

.contact {
  margin-top: 50px;

  &__header {
    font-size: $bigFont_size;
    margin-bottom: 40px;
  }
  &__content {
    &--title {
      font-size: $bigFont_size;
    }

    &--title__amazingText {
      color: $red_color;
    }

    &--title__amazingText:hover {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: thin;
      -webkit-font-smoothing: antialiased;
    }
    &--email {
      margin: 80px 0;
      font-size: $midFont_size;
      text-decoration: underline;
    }

    &--social {
      display: flex;
      margin: 50px 0;
    }

    &--social li {
      list-style: none;
      margin: 0 20px;
    }
  }

  .error {
    background-color: $red_color;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
  }

  .success {
    background-color: $green_color;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .contact {
    &__header {
      font-size: $midFont_size;
    }
    &__content {
      &--title {
        font-size: $midFont_size;
      }
      &--email {
        margin: 40px 0;
        font-size: $smallFont_size;
      }
    }
  }
}
