nav li .link {
  text-decoration: none;
  color: #fff;
  padding: 1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

li .link:hover {
  opacity: 1;
}

.active {
  color: black;
  opacity: 1;
}
