$blue_color: #3f9bf7;
$light_color: #dfdfdf;
$red_color: #ed5c5a;
$yellow_color: #f7c367;
$green_color: #7dd075;

$bigFont_size: 5rem;
$midFont_size: 3rem;
$smallFont_size: 1.4rem;
$xsmallFont_size: 0.8rem;
